*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header{
    background-color: #fff;
    padding: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 50%;
}
main{
    background-color: #F6F8F9;
    height: 100vh;
    border-radius: 20px;
    padding: 40px 100px 20px 100px;
}

#container{
    background-color: #fff;
    padding: 20px 0px 20px 40px;
}

.button-task{
    background-color: #47ACF1;
    border: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

.button-task:hover{
    background-color: transparent;
    border: grey solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    color: grey;
}

.button-section{
    background-color: transparent;
    border: grey solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    color: grey;
}

.button-section:hover{
    background-color: #47ACF1;
    border: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

hr {
    height: 1px;
    background-color: grey;
    margin-top: 10px;
  }
